---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Documentation from '../components/Documentation.astro';
import GreenComputing from '../components/GreenComputing.astro';
import BlogPreview from '../components/BlogPreview.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Lithops - Cloud Functions Simplified">
  <Header />
  <main>
    <Hero />
    <Features />
    <GreenComputing />
    <BlogPreview />
    <Documentation />
  </main>
  <Footer />
</Layout>
